[project]
	description = Adobe AIR SDK and a simple .air launcher
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomasz Kontusz (ktosiek)
[access "refs/for/refs/*"]
	read = group user/Tomasz Kontusz (ktosiek)
	push = group user/Tomasz Kontusz (ktosiek)
	label-Code-Review = -2..+2 group user/Tomasz Kontusz (ktosiek)
	label-Verified = -1..+1 group user/Tomasz Kontusz (ktosiek)
	rebase = group user/Tomasz Kontusz (ktosiek)
	removeReviewer = group user/Tomasz Kontusz (ktosiek)
	submit = group user/Tomasz Kontusz (ktosiek)
[access "refs/heads/*"]
	read = group user/Tomasz Kontusz (ktosiek)
	create = group user/Tomasz Kontusz (ktosiek)
	push = +force group user/Tomasz Kontusz (ktosiek)
	pushMerge = group user/Tomasz Kontusz (ktosiek)
[access "refs/tags/*"]
	push = +force group user/Tomasz Kontusz (ktosiek)
	pushTag = group user/Tomasz Kontusz (ktosiek)
	pushSignedTag = group user/Tomasz Kontusz (ktosiek)
